Random Forest
-

The candidate with level 6.5 had a previous salary of 160000. In order to hire him in our new company, we would like to confirm if he is being honest about his last salary and we will can predict this using the Random Forest.

Agenda:

To be able to predict the salaries of the organisation and be able to decide the limit to be given.

In [1]:
import numpy as np
import matplotlib.pyplot as plt

import pandas as pd
import seaborn as sns

%matplotlib inline

In [2]:
data = pd.read_csv("C:\\Users\\User\\Documents\\Data Science\\Machine Learning\\Position_Salaries.csv")
data

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  10 non-null     object
 1   Level     10 non-null     int64
 2   Salary    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes

In [22]:
X = data.iloc[:, 1:2].values
y = data['Salary'].values

In [23]:
from sklearn.ensemble import RandomForestRegressor
RF = RandomForestRegressor(n_estimators=60, random_state=0)
RF.fit(X, y)

RandomForestRegressor(n_estimators=60, random_state=0)

In [24]:
y_pred = RF.predict([[6.5]])
print('The predicted salary of a person at 6.5 Level is ',y_pred)

The predicted salary of a person at 6.5 Level is  [160166.66666667]