Final Python Project
-----------------------------

In [54]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [55]:
workbook_path='C:\\Users\\User\\Documents\\Data Science\\imus.xlsx'
all_dfs=pd.read_excel(workbook_path,sheet_name=None)

In [56]:
all_dfs.keys()

dict_keys(['2020-08-17', '2020-08-18', '2020-08-19', '2020-08-20', '2020-08-21', '2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27', '2020-08-28'])

In [57]:
all_dfs['2020-08-17'].head(2)

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
0,1539,MS-OPEN VALUE SUBSCRIPTION,021-09108,BA0011,NaN,"1YR OFFICESTD ALNG LICSAPK OLV, D AP",No Stock,0,143.58,2020-08-17
1,1539,MS-OPEN VALUE SUBSCRIPTION,059-07014,BA0025,NaN,"1YR WORD ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17

In [58]:
all_dfs['2020-08-18'].columns

Index(['category', 'manufacturer', 'part_number', 'sku', 'alt_sku',
       'description', 'status', 'qty', 'price', 'sku_create_date'],
      dtype='object')

In [7]:
all_dfs['2020-08-19'].columns

Index(['category', 'manufacturer', 'part_number', 'sku', 'alt_sku',
       'description', 'status', 'qty', 'price', 'sku_create_date'],
      dtype='object')

In [8]:
all_dfs['2020-08-20'].columns

Index(['category', 'manufacturer', 'part_number', 'sku', 'alt_sku',
       'description', 'status', 'qty', 'price', 'sku_create_date'],
      dtype='object')

In [179]:
all_dfs['2020-08-21'].columns

Index(['category', 'manufacturer', 'part_number', 'sku', 'alt_sku',
       'description', 'status', 'qty', 'price', 'sku_create_date'],
      dtype='object')

In [180]:
all_dfs['2020-08-24'].columns

Index(['category', 'manufacturer', 'part_number', 'sku', 'alt_sku',
       'description', 'status', 'qty', 'price', 'sku_create_date'],
      dtype='object')

In [181]:
all_dfs['2020-08-25'].columns

Index(['category', 'manufacturer', 'part_number', 'sku', 'alt_sku',
       'description', 'status', 'qty', 'price', 'sku_create_date'],
      dtype='object')

In [182]:
all_dfs['2020-08-26'].columns

Index(['category', 'manufacturer', 'part_number', 'sku', 'alt_sku',
       'description', 'status', 'qty', 'price', 'sku_create_date'],
      dtype='object')

In [183]:
all_dfs['2020-08-27'].columns

Index(['category', 'manufacturer', 'part_number', 'sku', 'alt_sku',
       'description', 'status', 'qty', 'price', 'sku_create_date'],
      dtype='object')

In [184]:
all_dfs['2020-08-28'].columns

Index(['category', 'manufacturer', 'part_number', 'sku', 'alt_sku',
       'description', 'status', 'qty', 'price', 'sku_create_date'],
      dtype='object')

In [59]:
df=pd.concat(all_dfs,ignore_index=True)

In [60]:
df.head()

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
0,1539,MS-OPEN VALUE SUBSCRIPTION,021-09108,BA0011,NaN,"1YR OFFICESTD ALNG LICSAPK OLV, D AP",No Stock,0,143.58,2020-08-17
1,1539,MS-OPEN VALUE SUBSCRIPTION,059-07014,BA0025,NaN,"1YR WORD ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
2,1539,MS-OPEN VALUE SUBSCRIPTION,065-06444,BA0039,NaN,"1YR EXCEL ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
3,1539,MS-OPEN VALUE SUBSCRIPTION,076-04355,BA0067,NaN,"1YR PRJCT ALNG LICSAPK OLV D AP,",No Stock,0,217.60,2020-08-17
4,1582,MS-OPEN VALUE SUBSCRIPTION,077-05318,BA0080,NaN,"1YR ACCESS ALNG LICSAPK OLV D, AP",No Stock,0,56.09,2020-08-17

In [61]:
df.tail()

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
2627921,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627922,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627923,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627924,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28
2627925,9945,VERBATIM CORPORATION,93975,986034,NaN,"CD & DVD TRIMPAK CASES 200PK, CLEAR FLEXIBLE P...",In Stock,12,50.53,2020-08-28

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2627926 entries, 0 to 2627925
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   category         int64
 1   manufacturer     object
 2   part_number      object
 3   sku              object
 4   alt_sku          object
 5   description      object
 6   status           object
 7   qty              int64
 8   price            float64
 9   sku_create_date  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 200.5+ MB

In [63]:
df1 = df[df['status']=='In Stock']
df2 = df[df['status']=='No Stock']

For data In Stock
------------------------

1. Which are the top Manufacturers with price, quantity?

In [64]:
df1.head()

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
253,9920,CASE LOGIC-PERSONAL & PORTABLE,3200943,BA6371,NaN,"LAPTOP ROLLING CASE BLACK, SECURITY FRIENDLY 17IN",In Stock,7,99.00,2020-08-17
271,531,OMNITRON SYSTEMS,7206-0,BA6834,NaN,"1000BASE-SX SFP LC/MM/DF 850NM, 550M PLUGGABLE...",In Stock,2,59.09,2020-08-17
320,9070,ZEBRA ENTERPRISE MCD-A1,SAC5070-800CR,BC0227,NaN,"RS507 8SLOT BATTERY CHARGE KIT, EXT PWR SUPL/U...",In Stock,3,500.06,2020-08-17
324,9080,ZEBRA ENTERPRISE MCD-A1,KT-CLMPT-RS507-01R,BC0232,NaN,"RS507 TRIGGER SWIVEL DOES NOT, INCLUDE STRAP/B...",In Stock,115,86.34,2020-08-17
326,9080,ZEBRA ENTERPRISE MCD-A1,KT-PAD-RS507-10R,BC0234,NaN,"10 CT COMFORT PADS FOR RS507,",In Stock,42,51.80,2020-08-17

In [65]:
df2.head()

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date
0,1539,MS-OPEN VALUE SUBSCRIPTION,021-09108,BA0011,NaN,"1YR OFFICESTD ALNG LICSAPK OLV, D AP",No Stock,0,143.58,2020-08-17
1,1539,MS-OPEN VALUE SUBSCRIPTION,059-07014,BA0025,NaN,"1YR WORD ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
2,1539,MS-OPEN VALUE SUBSCRIPTION,065-06444,BA0039,NaN,"1YR EXCEL ALNG LICSAPK OLV D AP,",No Stock,0,56.09,2020-08-17
3,1539,MS-OPEN VALUE SUBSCRIPTION,076-04355,BA0067,NaN,"1YR PRJCT ALNG LICSAPK OLV D AP,",No Stock,0,217.60,2020-08-17
4,1582,MS-OPEN VALUE SUBSCRIPTION,077-05318,BA0080,NaN,"1YR ACCESS ALNG LICSAPK OLV D, AP",No Stock,0,56.09,2020-08-17

In [66]:
qty_by_manufacturer=df1.groupby('manufacturer',as_index=False)['qty'].sum().sort_values('qty',ascending=False)
qty_by_manufacturer.head()

                        manufacturer       qty
620                     STARTECH.COM  16069681
181      DELL CSG SERVICE WARRANTIES  13578833
650          TRIPP LITE CONNECTIVITY   8283765
433  LOGITECH - COMPUTER ACCESSORIES   8251159
367                   JABRA BUSINESS   4829490

In [67]:
price_by_manufacturer=df1.groupby('manufacturer',as_index=False)['price'].max().sort_values('price',ascending=False)
price_by_manufacturer.head()

              manufacturer     price
315        HPE - SWITCHING  69729.03
311       HPE - NIMBLE BTO  40893.99
303    HPE - ARUBA INSTANT  35554.13
529           PULSE SECURE  23423.40
444  MELLANOX TECHNOLOGIES  20144.08

2. Which are the most profitable products?

In [68]:
df1['profit'] = df1['qty'] * df1['price']

<ipython-input-68-b6cf937e8c88>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['profit'] = df1['qty'] * df1['price']

In [69]:
df1.head()

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date,profit
253,9920,CASE LOGIC-PERSONAL & PORTABLE,3200943,BA6371,NaN,"LAPTOP ROLLING CASE BLACK, SECURITY FRIENDLY 17IN",In Stock,7,99.00,2020-08-17,693.00
271,531,OMNITRON SYSTEMS,7206-0,BA6834,NaN,"1000BASE-SX SFP LC/MM/DF 850NM, 550M PLUGGABLE...",In Stock,2,59.09,2020-08-17,118.18
320,9070,ZEBRA ENTERPRISE MCD-A1,SAC5070-800CR,BC0227,NaN,"RS507 8SLOT BATTERY CHARGE KIT, EXT PWR SUPL/U...",In Stock,3,500.06,2020-08-17,1500.18
324,9080,ZEBRA ENTERPRISE MCD-A1,KT-CLMPT-RS507-01R,BC0232,NaN,"RS507 TRIGGER SWIVEL DOES NOT, INCLUDE STRAP/B...",In Stock,115,86.34,2020-08-17,9929.10
326,9080,ZEBRA ENTERPRISE MCD-A1,KT-PAD-RS507-10R,BC0234,NaN,"10 CT COMFORT PADS FOR RS507,",In Stock,42,51.80,2020-08-17,2175.60

In [70]:
most_profitable_products=df1.groupby('description',as_index=False)['profit'].max().sort_values('profit',ascending=False)
most_profitable_products.head()

                                           description       profit
8346                         3YR NBD TO 5YR PROSPT 4H,  42358763.70
10637                             5YR PROSUPPORT PLUS,  38003399.28
17947  FED ADVANTAGE CONTRACT SUPPORT-, STARTING LEVEL  25022497.50
8381                              3YR PROSUPPORT PLUS,  23750924.67
8380                  3YR PROSUPPORT MISSION CRITICAL,  22838315.94

3. Which is the product where you have seen a decrease in the price?

In [71]:
df1=df1.sort_values(['description','sku_create_date'],ascending=(False,True))
df1.head()

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date,profit
404348,32,SUPERMICRO - COMPONENTS,SYS-5018D-FN4T,ZQ8015,NaN,"[NR]XEON D X10SDV-TLN4F, 505-203B",In Stock,5,1156.32,2020-08-17,5781.60
1669418,32,SUPERMICRO - COMPONENTS,SYS-5018D-FN4T,ZQ8015,NaN,"[NR]XEON D X10SDV-TLN4F, 505-203B",In Stock,5,1156.32,2020-08-24,5781.60
2350854,32,SUPERMICRO - COMPONENTS,SYS-5018D-FN4T,ZQ8015,NaN,"[NR]XEON D X10SDV-TLN4F, 505-203B",In Stock,4,1156.32,2020-08-25,4625.28
2433897,32,SUPERMICRO - COMPONENTS,SYS-5018D-FN4T,ZQ8015,NaN,"[NR]XEON D X10SDV-TLN4F, 505-203B",In Stock,3,1156.32,2020-08-26,3468.96
401749,32,SUPERMICRO - COMPONENTS,SSG-6038R-E1CR16L,ZN2792,NaN,"[NR]X10DRH-IT, CSE-836BTS-R920BP",In Stock,1,1927.91,2020-08-17,1927.91

In [76]:
df1['difference'] = df1.groupby('description')['price'].diff().fillna(0)
print(df1)

         category             manufacturer        part_number     sku alt_sku  \
404348         32  SUPERMICRO - COMPONENTS     SYS-5018D-FN4T  ZQ8015     NaN
1669418        32  SUPERMICRO - COMPONENTS     SYS-5018D-FN4T  ZQ8015     NaN
2350854        32  SUPERMICRO - COMPONENTS     SYS-5018D-FN4T  ZQ8015     NaN
2433897        32  SUPERMICRO - COMPONENTS     SYS-5018D-FN4T  ZQ8015     NaN
401749         32  SUPERMICRO - COMPONENTS  SSG-6038R-E1CR16L  ZN2792     NaN
...           ...                      ...                ...     ...     ...
2410448      2240  TRIPP LITE CONNECTIVITY        N280-20N-BK  QZ7267     NaN
2410449      2240  TRIPP LITE CONNECTIVITY        N280-20N-BK  QZ7267     NaN
2410450      2240  TRIPP LITE CONNECTIVITY        N280-20N-BK  QZ7267     NaN
2410451      2240  TRIPP LITE CONNECTIVITY        N280-20N-BK  QZ7267     NaN
2410452      2240  TRIPP LITE CONNECTIVITY        N280-20N-BK  QZ7267     NaN

                                               description    status  qty  \
404348                   [NR]XEON D X10SDV-TLN4F, 505-203B  In Stock    5
1669418                  [NR]XEON D X10SDV-TLN4F, 505-203B  In Stock    5
2350854                  [NR]XEON D X10SDV-TLN4F, 505-203B  In Stock    4
2433897                  [NR]XEON D X10SDV-TLN4F, 505-203B  In Stock    3
401749                    [NR]X10DRH-IT, CSE-836BTS-R920BP  In Stock    1
...                                                    ...       ...  ...
2410448  .5M PASSIVE TWINAX COPPER SFP+, CABLE 10GBASE-...  In Stock   20
2410449  .5M PASSIVE TWINAX COPPER SFP+, CABLE 10GBASE-...  In Stock   20
2410450  .5M PASSIVE TWINAX COPPER SFP+, CABLE 10GBASE-...  In Stock   20
2410451  .5M PASSIVE TWINAX COPPER SFP+, CABLE 10GBASE-...  In Stock   20
2410452  .5M PASSIVE TWINAX COPPER SFP+, CABLE 10GBASE-...  In Stock   20

           price sku_create_date   profit  difference
404348   1156.32      2020-08-17  5781.60         0.0
1669418  1156.32      2020-08-24  5781.60         0.0
2350854  1156.32      2020-08-25  4625.28         0.0
2433897  1156.32      2020-08-26  3468.96         0.0
401749   1927.91      2020-08-17  1927.91         0.0
...          ...             ...      ...         ...
2410448    23.93      2020-08-26   478.60         0.0
2410449    23.93      2020-08-26   478.60         0.0
2410450    23.93      2020-08-26   478.60         0.0
2410451    23.93      2020-08-26   478.60         0.0
2410452    23.93      2020-08-26   478.60         0.0

[713788 rows x 12 columns]

In [77]:
df_sum_diff=df1.groupby('description',as_index=False)['difference'].sum().sort_values('difference',ascending=True)
df_sum_diff.head()

                                             description  difference
22458   OPTIFIBER PRO QUAD OTDR V2 W/, INSPECTION & WIFI    -4840.75
27263            THINKSYSTEM SR250 E-2136 3.3G, 12MB 8GB    -1431.46
17610        EPYC MODEL 7551 32C 3.0G 64MB, 180W 2666MHZ    -1212.20
8294                      3Y BASIC ONSITE TO 5Y PROSUPT,     -624.93
26654  SURFACE LAPTOP I7 512GB W/10PRO, OPEN BOX SEE ...     -553.74

4. Which is the product where you have seen an increase in the price?

In [78]:
df_sum_diff=df1.groupby('description',as_index=False)['difference'].sum().sort_values('difference',ascending=False)
df_sum_diff.head()

                                             description  difference
10637                               5YR PROSUPPORT PLUS,     2013.43
8381                                3YR PROSUPPORT PLUS,     1258.20
8380                    3YR PROSUPPORT MISSION CRITICAL,     1194.13
8383                                     3YR PROSUPPORT,      923.94
4787   20PK 14000GB ULTRA SAS 7200RPM, 3.5IN 26.1MM 5...      880.00

5. Which is the top category by price and quantity?

In [79]:
price_by_category=df1.groupby('category',as_index=False)['price'].max().sort_values('price',ascending=False)
price_by_category.head()

    category     price
34       521  69729.03
17       295  40893.99
33       505  35554.13
40       661  23423.40
36       531  18251.60

In [80]:
qty_by_category=df1.groupby('category',as_index=False)['qty'].sum().sort_values('qty',ascending=False)
qty_by_category.head()

     category       qty
50       1221  17378795
83       2220  12851216
131      9970   8618185
85       2240   8264370
93       3350   7068656

6. Which products are aging?

In [93]:
import datetime
from datetime import date

In [ ]:
products = list(df1['description'])
df3 = pd.DataFrame(columns=['Product','Age'])
for i in products:
    data = df1[df1['description'] == i]
    date1 = data.sku_create_date.min()
    date2 = data.sku_create_date.max()
    age = (date2-date1).days
    df3 = df3.append({'Product': i,'Age': age},ignore_index = True)

In [ ]:
df3 = df3.sort_values('Age',ascending= False)
df3.head()

7. How to Decrease Product aging?

Just-in-time methodology, first in first out

For Data Not in Stock
-------------------------------

8. Which are the top Manufacturers with price, quantity?

In [81]:
price_by_manufacturer2=df2.groupby('manufacturer',as_index=False)['price'].max().sort_values('price',ascending=False)
price_by_manufacturer2.head()

                    manufacturer        price
57                        ALTNET  84974533.10
717         JUNIPER ROW SERVICES  10449000.00
709   JUNIPER ENTERPRISE ROUTING   5600000.00
231       CISCO - CCW MULTI YEAR   4700430.00
590  HPE - ENTERPRISE NETWORKING   4173518.27

In [110]:
qty_by_manufacturer2=df2.groupby('manufacturer',as_index=False)['qty'].sum().sort_values('qty',ascending=False)
qty_by_manufacturer2.head()

                      manufacturer  qty
0                          22MILES    0
977     PHOENIX AUDIO TECHNOLOGIES    0
953           PANASONIC PANABOARDS    0
952  PANASONIC FLAT PANEL DISPLAYS    0
951                  PANASONIC CTO    0

9. Which are the most profitable products?

In [109]:
most_profitable_products2=df2.groupby('description',as_index=False)['price'].max().sort_values('price',ascending=False)
most_profitable_products2.head()

                                              description        price
129283  ALTNET TPM UP TO 240000000 USD, LIST MNT UPTO ...  84974533.10
129756  ALTNET TPM UP TO 80000000 USD, LIST MNT UPTO 8...  28324844.37
251188                  ROW 5YR SWA SUP FOR, JCE-1000GBPS  10449000.00
251184                  ROW 3YR SWA SUP FOR, JCE-1000GBPS   6966000.00
8598                 1000 UNIT BNDL OF, QSFP-100GBASE-LR4   5600000.00

Based on the price, the most profitable products are listed above

10. Which is the product where you have seen a decrease in the price?

In [86]:
df2=df2.sort_values(['description','sku_create_date'],ascending=(False,True))
df2.head()

,category,manufacturer,part_number,sku,alt_sku,description,status,qty,price,sku_create_date,profit
425544,32,SUPERMICRO - COMPONENTS,SYS-6017R-WTRFTP+,1F4786,NaN,"[NR]X9DRW-ITPF + AND, CSE-819TQ-R700WB",No Stock,0,1221.72,2020-08-17,0.0
1690526,32,SUPERMICRO - COMPONENTS,SYS-6017R-WTRFTP+,1F4786,NaN,"[NR]X9DRW-ITPF + AND, CSE-819TQ-R700WB",No Stock,0,1221.72,2020-08-24,0.0
444510,5,SUPERMICRO - COMPONENTS,HNW0-15026364-HADP,1V3117,NaN,"[NR]X9DRW-IF CSE-815TQ-R500WB,",No Stock,0,4109.53,2020-08-17,0.0
1709345,5,SUPERMICRO - COMPONENTS,HNW0-15026364-HADP,1V3117,NaN,"[NR]X9DRW-IF CSE-815TQ-R500WB,",No Stock,0,4109.53,2020-08-24,0.0
444511,32,SUPERMICRO - COMPONENTS,HNWX-19026364-HADP,1V3118,NaN,"[NR]X9DRW-7TPF 819TQ-R700WB,",No Stock,0,4094.95,2020-08-17,0.0

In [87]:
df2['difference'] = df2.groupby('description')['price'].diff().fillna(0)
print(df2)

         category             manufacturer         part_number     sku  \
425544         32  SUPERMICRO - COMPONENTS   SYS-6017R-WTRFTP+  1F4786
1690526        32  SUPERMICRO - COMPONENTS   SYS-6017R-WTRFTP+  1F4786
444510          5  SUPERMICRO - COMPONENTS  HNW0-15026364-HADP  1V3117
1709345         5  SUPERMICRO - COMPONENTS  HNW0-15026364-HADP  1V3117
444511         32  SUPERMICRO - COMPONENTS  HNWX-19026364-HADP  1V3118
...           ...                      ...                 ...     ...
912135       1241       IBM - POWER SYSTEM       9179-MHU-EPJ2  6CP693
2176365      1241       IBM - POWER SYSTEM       9179-MHD-EPJ2  6CP692
2176366      1241       IBM - POWER SYSTEM       9179-MHU-EPJ2  6CP693
847547       1241       IBM - POWER SYSTEM       9009-41A-ELZE  5XD305
2111796      1241       IBM - POWER SYSTEM       9009-41A-ELZE  5XD305

        alt_sku                                        description    status  \
425544      NaN             [NR]X9DRW-ITPF + AND, CSE-819TQ-R700WB  No Stock
1690526     NaN             [NR]X9DRW-ITPF + AND, CSE-819TQ-R700WB  No Stock
444510      NaN                     [NR]X9DRW-IF CSE-815TQ-R500WB,  No Stock
1709345     NaN                     [NR]X9DRW-IF CSE-815TQ-R500WB,  No Stock
444511      NaN                       [NR]X9DRW-7TPF 819TQ-R700WB,  No Stock
...         ...                                                ...       ...
912135      NaN  $0 24 PROC DAYS OF ON OFF COD T, EMPORARY PROC...  No Stock
2176365     NaN  $0 24 PROC DAYS OF ON OFF COD T, EMPORARY PROC...  No Stock
2176366     NaN  $0 24 PROC DAYS OF ON OFF COD T, EMPORARY PROC...  No Stock
847547      NaN                         #ESGE LOAD SOURCE SPECIFY,  No Stock
2111796     NaN                         #ESGE LOAD SOURCE SPECIFY,  No Stock

         qty    price sku_create_date  profit  difference
425544     0  1221.72      2020-08-17     0.0         0.0
1690526    0  1221.72      2020-08-24     0.0         0.0
444510     0  4109.53      2020-08-17     0.0         0.0
1709345    0  4109.53      2020-08-24     0.0         0.0
444511     0  4094.95      2020-08-17     0.0         0.0
...      ...      ...             ...     ...         ...
912135     0     0.01      2020-08-17     0.0         0.0
2176365    0     0.01      2020-08-24     0.0         0.0
2176366    0     0.01      2020-08-24     0.0         0.0
847547     0     0.01      2020-08-17     0.0         0.0
2111796    0     0.01      2020-08-24     0.0         0.0

[1914138 rows x 12 columns]

In [88]:
df_sum_diff2=df2.groupby('description',as_index=False)['difference'].sum().sort_values('difference',ascending=True)
df_sum_diff2.head()

                                              description  difference
154656  CCW ONLY SWSS UPG 3YR DISTI, TR-069 MGMT FOR 6... -2157547.75
186527                 DIRECTLIGHT 24X6, DL2 0.9 ROOM 250 -1884383.25
154600  CCW ONLY SWSS UPG 3YR DISTI, SO=INTELL AUTOCLD...  -879480.00
238280              QUANTITY 150 OF ES0H 775GB SSD, SFF 2  -868054.30
238325                QUANTITY 150 OF ESGP 1 55TB SAS, 4K  -780127.17

11. Which is the product where you have seen an increase in the price?

In [89]:
df_sum_diff=df2.groupby('description',as_index=False)['difference'].sum().sort_values('difference',ascending=False)
df_sum_diff2.head()

                                              description  difference
154656  CCW ONLY SWSS UPG 3YR DISTI, TR-069 MGMT FOR 6... -2157547.75
186527                 DIRECTLIGHT 24X6, DL2 0.9 ROOM 250 -1884383.25
154600  CCW ONLY SWSS UPG 3YR DISTI, SO=INTELL AUTOCLD...  -879480.00
238280              QUANTITY 150 OF ES0H 775GB SSD, SFF 2  -868054.30
238325                QUANTITY 150 OF ESGP 1 55TB SAS, 4K  -780127.17

12. Which is the top category by price and quantity?

In [90]:
price_by_category2=df2.groupby('category',as_index=False)['price'].max().sort_values('price',ascending=False)
price_by_category2.head()

    category        price
54      1231  84974533.10
55      1241  10449000.00
53      1221   4700430.00
72      1577   4173518.27
61      1512   3609856.25

In [91]:
qty_by_category2=df2.groupby('category',as_index=False)['qty'].sum().sort_values('qty',ascending=False)
qty_by_category2.head()

     category  qty
0           1    0
105      3370    0
98       3001    0
99       3002    0
100      3320    0